
.wrap__content {
    background-color: whitesmoke;
    width: 100%;
    min-height: 100vh;
    border-radius: 5px;
    padding: 40px 25px;
    color: #3b3b3b;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}


.wrap__sub__menu {
    text-align: center;
    margin: 30px 0;
}
