.wrap__content_topic{
    padding-top:150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap__content_topic b{
    margin-bottom: 50px;
}
.wrap__content_topic a{
    text-decoration: none;
    color:white;
    border: 2px solid white;
    padding: 10px 30px;
}
.wrap__content_topic a:hover{
    color:#3b3b3b;
    background-color: whitesmoke;
}
